@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Home page</h1>
    <p>Without registration and login you can't access this page.....</p>
</div>
